*.beam
vcr
new_vcr
/wcg/applications/firstqq_vcr
/wcg/applications/vcr_bak
Mnesia.lws@10.32.3.52
Mnesia.lws@ubuntu.livecom
log
.svn
data
*.pcm
*.pyc
/q_web/q_query_python/result_save/2015-4-23查询缓存-正常登录.txt
/q_web/q_query_python/result_save/2015-4-23查询缓存-申诉解限-登录环境异常.txt
/q_web/q_query_python/result_save/2015-4-23查询缓存-短信解限-QQ被非法登录.txt
/q_web/q_query_python/result_save/2015-4-23查询缓存-短信解限-发不良信息.txt
/q_web/q_query_python/result_save/2015-4-23查询缓存-短信解限-登录环境异常.txt
/q_web/q_query_python/result_save/2015-4-24查询缓存-正常登录.txt
/q_web/q_query_python/result_save/2015-4-25查询缓存-正常登录.txt
/service/www/Mnesia.www@127.0.0.1/*.LOG
/service/www/Mnesia.www@127.0.0.1/*.DCD
/service/www/Mnesia.www@127.0.0.1/*.DAT
/service/www/Mnesia.www@fc2fc.com/*.LOG
/service/www/Mnesia.www@fc2fc.com/*.DCD
/service/www/Mnesia.www@fc2fc.com/*.DAT
Mnesia.www@fc2fc.com
*.LOG
*.DCD
*.DAT
#service/gw/erlang_source_so/*
