@charset "utf-8";
/* CSS Document */
body,ul,li,h3{ margin:0; padding:0;}
li{ list-style:none;}
a{ text-decoration:none;outline:none;}
.clear{ clear:both;}
body {background: #f0f0f0 url(../images/bg-body.gif) top left repeat;font-family:"微软雅黑"; color:#fff; font-size:14px;}
#contianer{background:url(../images/container_bg.png) no-repeat left top;width:400px; height:260px; margin:0 auto;padding-top:30px; display:none;}
#contianer .logo{ background:url(../images/pic.png) no-repeat left top; width:200px; height:50px; margin-left:60px;}
#contianer ul{ padding-top:10px; padding-left:40px;}
#contianer li{ height:30px;}
#contianer li.itips{ height:22px; line-height:20px; color:#ffd201; padding-left:60px; visibility:hidden;}
#contianer label{ width:50px; display:inline-block; text-align:right; padding-right:8px; line-height:30px; height:30px;}
#contianer input{ width:230px; height:24px; line-height:24px; font-size:14px;font-family:"微软雅黑";}
#contianer a.btn{ background:url(../images/btn.png) no-repeat left top;height:32px;width:62px;display:block; text-align:center; color:#FFF; line-height:28px; cursor:pointer; border:none; margin:0 auto;}
#contianer a.btn:hover{ background-position:-70px top;color:#000;}




