/* CSS Document */
body, ul, li ,dl ,dd, h1, p, h5, h6{ margin:0; padding:0;}
body{ font-family:微软雅黑; font-size:13px;overflow-y:scroll; /*background: #f0f1f1; url(../images/con_bg.png)  repeat-x top left*/}
li{ list-style:none; }
a{ text-decoration:none;}
/*header*/
#header {background-color: #232323;width:100%;background:-webkit-gradient(linear,left bottom,left top,color-stop(0.2, rgb(39,38,34)),color-stop(0.8, rgb(50,50,50)));background: -moz-linear-gradient(center bottom,rgb(39,38,34) 20%,rgb(50,50,50) 80%);border-bottom: 4px solid #266DBB;height:55px;position: relative;z-index: 99; border-bottom:1px solid #151515;}
#header .title{ padding-top:14px; float: left;}
#header .wrapper{margin:0 auto; padding: 0 30px; text-align:left;position:relative;}
#header .topnav {color:#999;padding:6px 0 6px 10px;	position:absolute;right: 30px;top: 10px;white-space:nowrap;font-size:12px;	text-align:right;}
#header .topnav a {	color:#2A7AD2;padding:0;}
#header .topnav a:hover{color:#fff;}
#header .logoname{color: hsl(0, 100%, 100%);vertical-align: top;display: inline-block;padding-left: 10px;font-size: 18px;}
#navbox {background-color: #333333;border-top:1px solid #383838;border-bottom:1px solid hsl(0, 0%, 27%);-moz-box-shadow: 0 2px 0 0 #262626,0 -1px 0 0 #171717;box-shadow:0 2px 0 0 #262626,0 -1px 0 0 #171717; height: 54px;position: relative;z-index: 99; width:100%; top:0;}
#navbox .nav{font-size: 14px;padding-left: 30px; }
#navbox .nav li{ float:left;  margin-right: 2px; height:32px; line-height:32px; border-top-left-radius:3px;border-top-right-radius:3px;}
#navbox a{ color:#ccc;padding: 0 20px; text-align: center; display:inline-block;height: 58px;line-height: 58px;margin-top: -1px;-webkit-transition: all 0.3s linear;-moz-transition: all 0.3s linear;-o-transition: all 0.3s linear;transition: all 0.3s linear;}
#navbox a.current{ background:rgb(73, 155, 177); color: #fff; } 
#navbox a:hover{ background: #454648; } 
#topnav span {color:#444;}
#content:after, #main_content:after, .widget-content:after, .base_info:after, .panelList:after , .widget-box:after{content:"."; height:0;visibility:hidden;display:block;clear:both;}
/*nav*/
#navBox li{ border-bottom: 1px dashed #ccc; }
.navBox li a{ display:block;color:#333;outline: 0;padding:10px 10px 10px 20px;width: 148px;background: url(../images/arrow.gif) no-repeat center left;padding-left:12px;}
.page_info { margin: 0 30px; border-top: 1px solid #000000; border-bottom: 1px solid #bababa; height:60px;  }
.page_title_box{ width: 100%;  margin:0 auto;}
.page_title_box h1{ line-height:60px; font-weight:normal;font-size: 25px; float: left;}
.page_info .result_count {color: #757575;text-shadow: none;padding-left:10px; float: left; margin-top: 25px;}
.page_info .page_opts{ float:right; margin-top: 15px;}
.line{ border-top:1px solid #fff; margin: 0 30px;}
.seabox{height: 40px;line-height: 40px;float: left;top: 10px;width: 300px;margin-left: 30px;vertical-align: middle;outline:none;padding-left: 5px;font-size: 13px;background:#505050;position:relative;}
.seabox input[type="text"]{ width: 260px;height: 30px;line-height: 30px;vertical-align: middle; border:none; background:transparent; outline:none;}
.seabox input[type="text"]:focus{ background: none;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;}
.seabox .sea_icon {width: 35px;height: 40px;display: inline-block;background:url(../images/btn.png) no-repeat center center;vertical-align: middle;cursor: pointer;position: absolute;right: 0;top: 0;}
.seabox .sea_icon:hover{ background-color: #1a1a1a;}
#content{position:relative; margin:0 auto;top: 30px; padding:0 30px;}
#content .box{padding-bottom: 15px;float: left; margin-bottom:20px;width: 100%; }
#content .base_info {/* clear:both;  */margin: 0 auto;}	
#content .tablist {	width:100%;	border-spacing: 0px;}
#content .tablist a{ color:#2A7AD2;}
#content .tablist a:hover{ color:#343434;}
#content .tablist .danger{ color:#d14;}
#content .tablist .success{ color:hsl(120, 39%, 54%);}
#content .tablist th ,#content .tablist td {height:38px;line-height:25px;padding-left: 30px; text-align:left; }
#content .tablist .odd {background-color: #cfedfa;}
#content .tablist .even {background-color: #e7f6fd;}
#content .tablist .tr_3 {background-color:#65AECB;color: #ffffff; font-weight: normal;height: 21px;}
.btn {display: inline-block;
	padding: 4px 12px;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 20px;
	color: hsl(0, 0%, 20%);
	text-align: center;
	text-shadow: 0 1px 1px hsla(0, 100%, 100%, 0.75);
	vertical-align: middle;
	cursor: pointer;
	background-color: hsl(0, 0%, 96%);
	background-image: -moz-linear-gradient(top, hsl(0, 100%, 100%), hsl(0, 0%, 90%));
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(hsl(0, 100%, 100%)), to(hsl(0, 0%, 90%)));
	background-image: -webkit-linear-gradient(top, hsl(0, 100%, 100%), hsl(0, 0%, 90%));
	background-image: -o-linear-gradient(top, hsl(0, 100%, 100%), hsl(0, 0%, 90%));
	background-image: linear-gradient(to bottom, hsl(0, 100%, 100%), hsl(0, 0%, 90%));
	background-repeat: repeat-x;
	border: 1px solid hsl(0, 0%, 80%);
	border-color: hsl(0, 0%, 90%) hsl(0, 0%, 90%) hsl(0, 0%, 75%);
	border-color: hsla(0, 0%, 0%, 0.1) hsla(0, 0%, 0%, 0.1) hsla(0, 0%, 0%, 0.25);
	border-bottom-color: hsl(0, 0%, 70%);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-webkit-box-shadow: inset 0 1px 0 hsla(0, 100%, 100%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 0 hsla(0, 100%, 100%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.05);}
.btn-success {
	color: hsl(0, 100%, 100%);
	text-shadow: 0 -1px 0 hsla(0, 0%, 0%, 0.25);
	background-color: hsl(120, 39%, 54%);
	background-image: -moz-linear-gradient(top, hsl(120, 45%, 58%), hsl(120, 34%, 48%));
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(hsl(120, 45%, 58%)), to(hsl(120, 34%, 48%)));
	background-image: -webkit-linear-gradient(top, hsl(120, 45%, 58%), hsl(120, 34%, 48%));
	background-image: -o-linear-gradient(top, hsl(120, 45%, 58%), hsl(120, 34%, 48%));
	background-image: linear-gradient(to bottom, hsl(120, 45%, 58%), hsl(120, 34%, 48%));
	background-repeat: repeat-x;
	border-color: hsl(120, 34%, 48%) hsl(120, 34%, 48%) hsl(120, 33%, 33%);
	border-color: hsla(0, 0%, 0%, 0.1) hsla(0, 0%, 0%, 0.1) hsla(0, 0%, 0%, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);}
.btn-primary {
	color: hsl(0, 100%, 100%);
	text-shadow: 0 -1px 0 hsla(0, 0%, 0%, 0.25);
	background-color: hsl(208, 100%, 40%);
	background-image: -moz-linear-gradient(top, hsl(200, 100%, 40%), hsl(220, 100%, 40%));
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(hsl(200, 100%, 40%)), to(hsl(220, 100%, 40%)));
	background-image: -webkit-linear-gradient(top, hsl(200, 100%, 40%), hsl(220, 100%, 40%));
	background-image: -o-linear-gradient(top, hsl(200, 100%, 40%), hsl(220, 100%, 40%));
	background-image: linear-gradient(to bottom, hsl(200, 100%, 40%), hsl(220, 100%, 40%));
	background-repeat: repeat-x;border-color: hsl(220, 100%, 40%) hsl(220, 100%, 40%) hsl(220, 100%, 25%);
	border-color: hsla(0, 0%, 0%, 0.1) hsla(0, 0%, 0%, 0.1) hsla(0, 0%, 0%, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);}
.btn-info {
	color: hsl(0, 100%, 100%);
	text-shadow: 0 -1px 0 hsla(0, 0%, 0%, 0.25);
	background-color: hsl(194, 57%, 55%);
	background-image: -moz-linear-gradient(top, hsl(194, 66%, 61%), hsl(194, 59%, 45%));
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(hsl(194, 66%, 61%)), to(hsl(194, 59%, 45%)));
	background-image: -webkit-linear-gradient(top, hsl(194, 66%, 61%), hsl(194, 59%, 45%));
	background-image: -o-linear-gradient(top, hsl(194, 66%, 61%), hsl(194, 59%, 45%));
	background-image: linear-gradient(to bottom, hsl(194, 66%, 61%), hsl(194, 59%, 45%));
	background-repeat: repeat-x;
	border-color: hsl(194, 59%, 45%) hsl(194, 59%, 45%) hsl(194, 59%, 29%);
	border-color: hsla(0, 0%, 0%, 0.1) hsla(0, 0%, 0%, 0.1) hsla(0, 0%, 0%, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);}
.btn-danger {color: hsl(0, 100%, 100%);text-shadow: 0 -1px 0 hsla(0, 0%, 0%, 0.25);background-color: hsl(2, 66%, 57%);background-image: -moz-linear-gradient(top, hsl(2, 81%, 65%), hsl(3, 60%, 46%));
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(hsl(2, 81%, 65%)), to(hsl(3, 60%, 46%)));
background-image: -webkit-linear-gradient(top, hsl(2, 81%, 65%), hsl(3, 60%, 46%));
background-image: -o-linear-gradient(top, hsl(2, 81%, 65%), hsl(3, 60%, 46%));
background-image: linear-gradient(to bottom, hsl(2, 81%, 65%), hsl(3, 60%, 46%));
background-repeat: repeat-x;border-color: hsl(3, 60%, 46%) hsl(3, 60%, 46%) hsl(3, 60%, 31%);
border-color: hsla(0, 0%, 0%, 0.1) hsla(0, 0%, 0%, 0.1) hsla(0, 0%, 0%, 0.25);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);}
#content .tablist a.btn-mini {padding: 2px 10px;font-size: 12px;-webkit-border-radius: 0px;-moz-border-radius: 0px;border-radius: 0px;box-shadow: none;background-image: none;	color: #fff;}
#content .wcg_statusbox{ padding-right: 85px;color: #000;  float: right;}
#content .wcg_statusbox .wcg_status{ padding-left: 5px;}
#content .wcg_statusbox.danger{ color:#d14; }
.btn:hover, .btn:focus {color: hsl(0, 0%, 20%);background-position: 0 -15px;-webkit-transition: background-position .1s linear;-moz-transition: background-position .1s linear;-o-transition: background-position .1s linear;transition: background-position .1s linear;}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
color: hsl(0, 100%, 100%);background-color: hsl(194, 59%, 45%);}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
color: hsl(0, 100%, 100%);background-color: hsl(3, 60%, 46%);}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {color: hsl(0, 100%, 100%);background-color: hsl(120, 34%, 48%);}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {color: hsl(0, 100%, 100%);background-color: hsl(220, 100%, 40%);}
#wsBox .tablist td , #wsBox .tablist th { text-align:left;}
/*LWORK.tips*/
.zeng_msgbox_layer,
.zeng_msgbox_layer .gtl_ico_succ,
.zeng_msgbox_layer .gtl_ico_fail,
.zeng_msgbox_layer .gtl_ico_hits,
.zeng_msgbox_layer .gtl_ico_clear,
.zeng_msgbox_layer .gtl_end{display:inline-block;height:54px;line-height:54px;font-weight:bold;font-size:14px;color:#606060;background-image:url(../images/gb_tip_layer.png);_background-image:url(/images/gb_tip_layer_ie6.png);background-repeat:no-repeat;}
.zeng_msgbox_layer_wrap{width:100%;position:fixed;_position:absolute;top:46%;left:0;text-align:center;z-index:65533;}
.zeng_msgbox_layer{background-position:0 -161px;background-repeat:repeat-x;padding:0 18px 0 9px;margin:0 auto;position:relative;}
.zeng_msgbox_layer .gtl_ico_succ{background-position:-6px 0;left:-45px;top:0;width:45px;position:absolute;}
.zeng_msgbox_layer .gtl_end{background-position:0 0;position:absolute;right:-6px;top:0;width:6px;}
.zeng_msgbox_layer .gtl_ico_fail{background-position:-6px -108px;position:absolute;left:-45px;top:0;width:45px;}
.zeng_msgbox_layer .gtl_ico_hits{background-position:-6px -54px;position:absolute;left:-45px;top:0;width:45px;}
.zeng_msgbox_layer .gtl_ico_clear{background-position:-6px 0;left:-5px;width:5px;position:absolute;top:0;}
.zeng_msgbox_layer img{float:left;margin:19px 10px 0 5px ;}
label,input,button,select,textarea { font-size: 14px; font-weight: normal; line-height: 20px;}
input,
button,
select,
textarea { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}
label {display: block;margin-bottom: 5px;}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  height: 20px;
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  vertical-align: middle;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
input,textarea,.uneditable-input { width: 206px;}
textarea {height: auto;}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus { border-color: rgba(82, 168, 236, 0.8);outline: 0; outline: thin dotted \9;/* IE6-9 */ -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);}

input[type="radio"],input[type="checkbox"] { margin: 4px 0 0; margin-top: 1px \9;*margin-top: 0;line-height: normal;}

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] { width: auto;}

select,
input[type="file"] {
  height: 30px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */
  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */
  line-height: 30px;}
select {width: 220px; background-color: #ffffff; border: 1px solid #cccccc;}

select[multiple],
select[size] {height: auto;}
select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.uneditable-input,
.uneditable-textarea {
  color: #999999;
  cursor: not-allowed;
  background-color: #fcfcfc;
  border-color: #cccccc;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
     -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
}
.uneditable-input {
  overflow: hidden;
  white-space: nowrap;
}
.uneditable-textarea { width: auto; height: auto;}
input:-moz-placeholder,
textarea:-moz-placeholder {color: #999999;}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #999999;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #999999;
}

.radio,
.checkbox {
  min-height: 20px;
  padding-left: 20px;
}

.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  float: left;
  margin-left: -20px;
}

.controls > .radio:first-child,
.controls > .checkbox:first-child {
  padding-top: 5px;
}

.radio.inline,
.checkbox.inline {
  display: inline-block;
  padding-top: 5px;
  margin-bottom: 0;
  vertical-align: middle;
}

.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
  margin-left: 10px;
}

.input-mini {
  width: 60px;
}

.input-small {
  width: 90px;
}

.input-medium {
  width: 150px;
}

.input-large {
  width: 210px;
}

.input-xlarge {
  width: 270px;
}

.input-xxlarge {
  width: 530px;
}

input[class*="span"],
select[class*="span"],
textarea[class*="span"],
.uneditable-input[class*="span"],
.row-fluid input[class*="span"],
.row-fluid select[class*="span"],
.row-fluid textarea[class*="span"],
.row-fluid .uneditable-input[class*="span"] {
  float: none;
  margin-left: 0;
}

.input-append input[class*="span"],
.input-append .uneditable-input[class*="span"],
.input-prepend input[class*="span"],
.input-prepend .uneditable-input[class*="span"],
.row-fluid input[class*="span"],
.row-fluid select[class*="span"],
.row-fluid textarea[class*="span"],
.row-fluid .uneditable-input[class*="span"],
.row-fluid .input-prepend [class*="span"],
.row-fluid .input-append [class*="span"] {
  display: inline-block;
}

input,
textarea,
.uneditable-input {
  margin-left: 0;
}

.controls-row [class*="span"] + [class*="span"] {
  margin-left: 20px;
}

input.span12,
textarea.span12,
.uneditable-input.span12 {
  width: 926px;
}

input.span11,
textarea.span11,
.uneditable-input.span11 {
  width: 430px;

}

input.span10,
textarea.span10,
.uneditable-input.span10 {
  width: 766px;
}

input.span9,
textarea.span9,
.uneditable-input.span9 {
  width: 686px;
}

input.span8,
textarea.span8,
.uneditable-input.span8 {
  width: 606px;
}

input.span7,
textarea.span7,
.uneditable-input.span7 {
  width: 526px;
}
input.span6,
textarea.span6,
.uneditable-input.span6 {
  width: 446px;
}
input.span5,
textarea.span5,
.uneditable-input.span5 {
  width: 366px;
}
input.span4,
textarea.span4,
.uneditable-input.span4 {
  width: 286px;
}
input.span3,
textarea.span3,
.uneditable-input.span3 {
  width: 206px;
}
input.span2,
textarea.span2,
.uneditable-input.span2 {
  width: 126px;
}
input.span1,
textarea.span1,
.uneditable-input.span1 {
  width: 46px;
}
.help-inline {
  *display: inline;
  *zoom: 1;
  display: inline-block;
  padding-left: 10px;
  vertical-align: top;
  line-height: 30px;
}
.control-group.warning .control-label,
.control-group.warning .help-block,
.control-group.warning .help-inline {
  color: #c09853;
}
.control-group.warning .checkbox,
.control-group.warning .radio,
.control-group.warning input,
.control-group.warning select,
.control-group.warning textarea {
  color: #c09853;
}
.control-group.warning input,
.control-group.warning select,
.control-group.warning textarea {
  border-color: #c09853;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.control-group.warning input:focus,
.control-group.warning select:focus,
.control-group.warning textarea:focus {
  border-color: #a47e3c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
}
.control-group.warning .input-prepend .add-on,
.control-group.warning .input-append .add-on {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #c09853;
}
.control-group.error .control-label,
.control-group.error .help-block,
.control-group.error .help-inline {
  color: #b94a48;
}
.control-group.error .checkbox,
.control-group.error .radio,
.control-group.error input,
.control-group.error select,
.control-group.error textarea {
  color: #b94a48;
}
.control-group.error input,
.control-group.error select,
.control-group.error textarea {
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.control-group.error input:focus,
.control-group.error select:focus,
.control-group.error textarea:focus {
  border-color: #953b39;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}
.control-group.error .input-prepend .add-on,
.control-group.error .input-append .add-on {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #b94a48;
}
.control-group.success .control-label,
.control-group.success .help-block,
.control-group.success .help-inline {
  color: #468847;
}
.control-group.success .checkbox,
.control-group.success .radio,
.control-group.success input,
.control-group.success select,
.control-group.success textarea {
  color: #468847;
}
.control-group.success input,
.control-group.success select,
.control-group.success textarea {
  border-color: #468847;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.control-group.success input:focus,
.control-group.success select:focus,
.control-group.success textarea:focus {
  border-color: #356635;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
}
.control-group.success .input-prepend .add-on,
.control-group.success .input-append .add-on {
  color: #468847;
  background-color: #dff0d8;
  border-color: #468847;
}
.control-group.info .control-label,
.control-group.info .help-block,
.control-group.info .help-inline {
  color: #3a87ad;
}
.control-group.info .checkbox,
.control-group.info .radio,
.control-group.info input,
.control-group.info select,
.control-group.info textarea {
  color: #3a87ad;
}
.control-group.info input,
.control-group.info select,
.control-group.info textarea {
  border-color: #3a87ad;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.control-group.info input:focus,
.control-group.info select:focus,
.control-group.info textarea:focus {
  border-color: #2d6987;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
}
.control-group.info .input-prepend .add-on,
.control-group.info .input-append .add-on {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #3a87ad;  
}
.widget-title {
	background:#65AECB;
	height: 36px;
	color: #fff;
	line-height: 36px;
	padding-left: 10px;
}
.widget-title h5{
  float: left;
}
.widget-title .wcgItem{
  float: right;
  padding-right: 50px;
}
.widget-title .wcgItem span{
  margin: 0 5px;
}
.widget-box{
	border:1px solid #65AECB;
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 10px;
}
.widget-content {
    padding: 15px;
    background: #f4f4f4;
}
.charts {
	height: 315px;
  float: left;
	width: 880px;
  overflow: hidden;
}

/* ============== panels ============== */
.panelList{ 
  position: absolute;
  right: 5px;
  top: 45px;}
.panel {
  width: 70px;
  background-color: #d2d1d0;
  border-radius: 6px;
  text-align: center;
  margin-top: 8px;
  cursor: pointer;
}
.panel .top {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: #555555;
  padding-top: 5px; }
.panel .top i {
  display: block;
  margin: auto 0; }
.panel .top h6 {
  display: inline;
  background-color: #555555;
  position: relative;
  top: 5px;
  padding: 2px 12px;
  border-radius: 30px;
  color: #FFF;
  font-weight: 600;
  font-size: 0.7em; }
.panel .bottom {
  padding-top: 12px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  padding-bottom: 7px;
  text-align: center;
  border-top: none; }
.panel .bottom h2 {
  font-size: 15px;
  color: #14b8d4;
  font-weight: 600;
  margin: 0; }
.panel.current .bottom h2 {
  font-size: 15px;
  color: #488c13;
  font-weight: 600;
  margin: 0; }     
.panel .bottom h6 {
  font-size: 0.7em;
  font-weight: 600;
  position: relative;
  bottom: -3px;
  color: hsl(0, 0%, 33%);
  padding-bottom: 16px; }
.panel .warning, .panel .warning h6 {
background-color: #ffa93c;
/*  box-shadow: inset 0 0 10px lighten($warning, 8%);
    border: 1px solid darken($warning, 20%)*/ }
.panel .danger, .panel .danger h6 {
background-color: #ea494a;
/*  box-shadow: inset 0 0 10px lighten($danger, 8%);
    border: 1px solid darken($danger, 20%)*/ }
.panel .info, .panel .info h6 {
background-color: #14b8d4;
/*  box-shadow: inset 0 0 10px lighten($info, 8%);
    border: 1px solid darken($info, 20%)*/ }
.panel.current .primary, .panel.current .primary h6 {
background-color: #488c13;
/*  box-shadow: inset 0 0 10px lighten($success, 8%);
    border: 1px solid darken($success, 20%)*/ }
.panel .primary, .panel .primary h6 {
background-color: #14b8d4;
/*    box-shadow: inset 0 0 10px lighten($primary, 8%);
    border: 1px solid darken($primary, 20%)*/ }
.panel:hover .primary, .panel:hover .primary h6{
background-color: #4cb158;
/* box-shadow: inset 0 0 10px lighten($primary, 8%);
   border: 1px solid darken($primary, 20%)*/ }
.panel .purple, .panel .purple h6 {
background-color: #7932ea;
/* box-shadow: inset 0 0 10px lighten($purple, 8%);
   border: 1px solid darken($purple, 20%)*/ }
.b-database {
background-position: -256px 0px;
}
.batch-big {
  height: 10px;
  width: 74px;
  position: relative;
  z-index: 1000;
  font-style: normal;
  bottom: 3px;
  color: hsl(0, 100%, 100%);
  font-size: 12px;
} 