@charset "utf-8";
/* CSS Document */

#LworkVideo_login li,#LworkVideo_login ul{ list-style:none;padding:0; margin:0;}
.LworkV_commonwin dl, .LworkV_commonwin dd,#LworkVideo_login dl, #LworkVideo_login dd,.LworkV_commonwin ul,.LworkV_commonwin li{padding:0; margin:0;}
#LworkVideo_login a{ text-decoration:none;}
.chatWin_box:after ,.chatWin_con dl:after ,.chatWin_con dd:after, .chat_obj:after, .video dl:after, .slelectFriend:after , .select_box:after ,.searchResult dl:after{content:".";height:0;visibility:hidden; display:block;clear:both; }
/* commonwin*/
.LworkV_commonwin{ position:absolute; font-family: 微软雅黑;display:none;}
.LworkV_commonwin dl.comwinCon{ height:100%;}
.LworkV_commonwin .comwin_header{ background:url(../images/commonwin.png) no-repeat  right  -89px; position:relative; height: 31px; }
.LworkV_commonwin .comwin_header .cm_l{ background:url(../images/commonwin.png) repeat-x  left 0; width:25px; height:32px ; float:left;}
.LworkV_commonwin .comwin_header .cm_c{ background:url(../images/commonwin.png) repeat-x  left -45px; height:32px; margin:0 25px;}
.LworkV_commonwin .comwin_header .cm_title{ font-size:14px; color:#fff; line-height: 28px;}
.LworkV_commonwin .comwin_header .cm_btn a{ background:url(../images/win_btn.png) no-repeat; width:39px; height:36px; display:inline-block; position:absolute; top:3px;}
.LworkV_commonwin .comwin_header .cm_btn a.cw_min { background-position: left -200px; right: 32px;}
.LworkV_commonwin .comwin_header .cm_btn a.cb_min{ right:31px;}
.LworkV_commonwin .comwin_header .cm_btn a.cw_close { background-position: left -40px; right:4px;}
.LworkV_commonwin .comwin_header .cm_btn a.cw_min:hover { background-position: left -160px;}
.LworkV_commonwin .comwin_header .cm_btn a.cw_close:hover { background-position: left top;}
.LworkV_commonwin .comWin_box{ background: #e7f1fa;border-left: 1px solid #1e6986;border-right: 1px solid #1e6986;position: relative; border-bottom: 1px solid #1e6986; height:100%;}
/*cw_optBtn*/
.LworkV_commonwin .cw_optBtn{ height:35px; background:#6eb7e4; border-bottom:1px solid #65a8c5; border-left:1px solid #9ed5ea; border-right:1px solid #9ed5ea;padding-left: 10px;line-height: 35px;  margin-top:-1px; position:relative;}
.LworkV_commonwin .cw_optBtn a{ width:37px; height:32px; display:inline-block;  }
.LworkV_commonwin .cw_optBtn a span{ width:36px; height:32px; display:inline-block;  background:url(../images/chat_optBtn.png) no-repeat; }
.LworkV_commonwin .cw_optBtn a.S_video span{ background-position:6px top;}
.LworkV_commonwin .cw_optBtn a.S_audio span{ background-position:-27px top;}
.LworkV_commonwin .cw_optBtn a.S_file span{ background-position:-61px top;}
.LworkV_commonwin .cw_optBtn a.S_call span{ background-position:-93px top;}
.LworkV_commonwin .cw_optBtn a.S_addm span{ background-position:-163px top;}
.LworkV_commonwin .cw_optBtn a.S_quit span{ background-position:-200px top;}
.LworkV_commonwin .cw_optBtn a.Disabled_video{background: url(../images/chat_optBtn.png) no-repeat -306px 1px;position: absolute;left: 10px;top: 0px; display:none;}
.LworkV_commonwin .cw_optBtn a:hover{background:url(../images/chat_optBtn.png) no-repeat -306px 1px; }
/*video*/
.LworkV_commonwin .video{ cursor:pointer;  padding-left: 1px; display:none;}
.LworkV_commonwin .video dl{ position:absolute ; z-index:10000; top:1px;}
.LworkV_commonwin .video dd.p2pvideoBox{ width:400px; height:300px; position:relative;float:left;color:#fff; font-size:17px;}
.LworkV_commonwin .video .fvideo{ background:url(../images/webcar.gif);}
.LworkV_commonwin .video .tvideo{ background:url(../images/webcar_d.gif); }
.LworkV_commonwin .videoOpt{ position: absolute;bottom: 2px;width: 100%;}
.LworkV_commonwin .videoOpt .videoTime{ float: left;padding-left: 5px;font-size: 14px;color: #0078B6;}
.LworkV_commonwin .video .videoObjName{position: absolute;left: 90px;top: 55px;}
.LworkV_commonwin .video .videoTip{position: absolute;left: 90px;top: 85px;}
.LworkV_commonwin .videoOpt .videOpt_c{ height:32px; margin:10px 6px 0 0; line-height: 30px; text-align:right; text-align: right; }
.LworkV_commonwin .videoOpt a, .LworkV_commonwin .audioOpt a.hangUp {background:url(../images/videoBtn.png) no-repeat; width:42px; height:30px; display:inline-block; color:#fff; text-decoration:none; line-height:30px; font-size:15px; padding-left:35px; text-align:left;  }
.LworkV_commonwin .videoOpt a.hangUp , .LworkV_commonwin .audioOpt a.hangUp { background-position: left -61px;}
.LworkV_commonwin .videoOpt a.fullscreen{ background-position:  left -180px; }
.LworkV_commonwin .videoOpt .hangUp:hover, .LworkV_commonwin .audioOpt .hangUp:hover{ background-position:left -99px;  }
.LworkV_commonwin .videoOpt a.fullscreen:hover{ background-position:  left -216px; }
/*p2pvideo*/
.LworkV_commonwin .p2pVideoTip{ position: absolute;color: hsl(0, 100%, 100%);font-size: 16px;z-index: 100;background: url(../images/p2pVideo.png);width: 270px;height: 190px;padding-top: 110px;padding-left: 130px;}
.LworkV_commonwin big_video_Screen{width: 400px;height: 300px; z-index:99;}
.LworkV_commonwin .small_video_Screen{ background: url(../images/p2pvideobg.gif);position: absolute;width: 150px;height: 113px;bottom: 3px;right: 3px; border: 1px solid #fff; z-index:101;}
.LworkV_commonwin .video_screen{ position:absolute; width:400px; height:300px;left: 2px;top: 31px; background:#000; z-index: 998;}
.LworkV_commonwin .video_self_screen{position:absolute; width:80px; height:60px; bottom:10px; right: 10px; background:#000; z-index: 999;}
/*选中*/
.noSelect {user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }
/**/
.LworkV_commonwin .winTabBox{ background:#e7f1fa;}
.LworkV_commonwin .ribbonBox{ position: absolute; right: 0; bottom: 0; top: 2px;}
.LworkV_commonwin .ribbonBox .ribbonMenu{ height:30px; line-height:25px; background:url(../images/videoBtn.png) repeat-x left -143px; padding-left: 5px;}
.LworkV_commonwin .ribbonBox .ribbonMenu a{ color:#343434; font-size:14px; height:30px; width:70px; display:inline-block;}
.LworkV_commonwin .ribbonBox .ribbonMenu a.active{ color:#0078B6;}
.LworkV_commonwin .ribbonBox .ribbonMenu span{ color:#95bfd2;padding: 0 5px;}
.LworkV_commonwin .ribbonBox .discusMem{ overflow: auto;position: absolute;bottom: 2px;top: 24px;width:100%;padding-bottom: 10px;}
/*tips*/
.zeng_msgbox_layer,
.zeng_msgbox_layer .gtl_ico_succ,
.zeng_msgbox_layer .gtl_ico_fail,
.zeng_msgbox_layer .gtl_ico_hits,
.zeng_msgbox_layer .gtl_ico_clear,
.zeng_msgbox_layer .gtl_end{display:inline-block;height:54px;line-height:54px;font-weight:bold;font-size:14px;color:#606060;background-image:url(/images/gb_tip_layer.png);_background-image:url(/images/gb_tip_layer_ie6.png);background-repeat:no-repeat;}
.zeng_msgbox_layer_wrap{width:100%;position:fixed;_position:absolute;top:46%;left:0;text-align:center;z-index:65533;}
.zeng_msgbox_layer{background-position:0 -161px;background-repeat:repeat-x;padding:0 18px 0 9px;margin:0 auto;position:relative;}
.zeng_msgbox_layer .gtl_ico_succ{background-position:-6px 0;left:-45px;top:0;width:45px;position:absolute;}
.zeng_msgbox_layer .gtl_end{background-position:0 0;position:absolute;right:-6px;top:0;width:6px;}
.zeng_msgbox_layer .gtl_ico_fail{background-position:-6px -108px;position:absolute;left:-45px;top:0;width:45px;}
.zeng_msgbox_layer .gtl_ico_hits{background-position:-6px -54px;position:absolute;left:-45px;top:0;width:45px;}
.zeng_msgbox_layer .gtl_ico_clear{background-position:-6px 0;left:-5px;width:5px;position:absolute;top:0;}
.zeng_msgbox_layer img{float:left;margin:19px 10px 0 5px ;}

/*login*/
#LworkVideo_login{position: absolute;top:0 ;left:0; bottom:0; right:0; z-index:10000; display:table; width:100%; height:100%; font-family: 微软雅黑;}

#LworkVideo_login .logo{ background: url(../images/login.png) no-repeat top center; height: 50px; }
#LworkVideo_login.audio_login_box .logo{ background: url(../images/audio_log.png) no-repeat top center; height: 50px;}
#LworkVideo_login .loginBox{  width: 100%; height: 100%; vertical-align:middle; display:table-cell; text-align:center; } 
#LworkVideo_login .loginCon{ width: 325px;height: 205px;padding: 15px;background: url(../images/login_bg.png) no-repeat left top;margin: 0 auto;position: relative;text-align: center;margin-top: -50px;}
#LworkVideo_login .loginCon .logo{ border-bottom:1px solid #ddd; }
#LworkVideo_login .loginCon img{ margin-bottom:10px;}
#LworkVideo_login .login_box{ font-size:15px;padding-top: 15px; }
#LworkVideo_login .person_icon{position: absolute;left: 22px;top: 50px;}
#LworkVideo_login label{ color:#15140f; padding-right:10px;}
#LworkVideo_login input{border: 1px solid hsl(225, 29%, 78%);height: 30px;line-height: 30px;font-size: 15px;width: 180px;background: #d9f0fb;outline: none;padding-left: 5px;}
#LworkVideo_login input.autologin{ width: 20px;vertical-align: middle;height: 36px;}
#LworkVideo_login .item{ margin-top:10px;position: relative;}
#LworkVideo_login .autologin_box{ padding-left: 36px; margin-top: 3px;}
#LworkVideo_login .person_icon img{ border-radius:50px; padding:3px; background:#fff; }
#LworkVideo_login .close{ background: url(../images/loginbtn_bg.png) no-repeat left -123px;width: 35px;height: 30px;display: inline-block;position: absolute;right: 2px;top: 7px; cursor:pointer; display: none; }
#LworkVideo_login .close:hover{ background-position:left -160px;}
#LworkVideo_login .btn {margin-left: 15px;padding: 6px 8px;cursor: pointer;display: inline-block;text-align: center;line-height: 1;font-family: Tahoma, Arial/9!important;width: auto;overflow: visible;
color: hsl(0, 0%, 20%);border: solid 1px hsl(0, 0%, 60%);border-radius: 5px;background: hsl(0, 0%, 87%);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFFFFF", endColorstr="#DDDDDD");background: linear-gradient(top, hsl(0, 100%, 100%), hsl(0, 0%, 87%));background: -moz-linear-gradient(top, hsl(0, 100%, 100%), hsl(0, 0%, 87%));
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(hsl(0, 100%, 100%)), to(hsl(0, 0%, 87%)));text-shadow: 0px 1px 1px hsla(0, 100%, 100%, 1);box-shadow: 0 1px 0 hsla(0, 100%, 100%, .7), 0 -1px 0 hsla(0, 0%, 0%, .09);-moz-transition: -moz-box-shadow linear .2s;-webkit-transition: -webkit-box-shadow linear .2s;transition: box-shadow linear .2s;font: 12px/1.11 "Microsoft Yahei", Tahoma, Arial, Helvetica, STHeiti;}
#LworkVideo_login .loginbtn{ /*background: url(../images/loginbtn_bg.png) no-repeat left -66px;width: 135px;height: 48px;display: inline-block;color: #688330;text-align: center;line-height: 44px;font-size: 19px; outline: none;*/
color: hsl(0, 100%, 100%);margin-top: 30px;padding: 10px 20px;text-shadow: 0 -1px 0 hsla(0, 0%, 0%, 0.25);background-color: hsl(120, 39%, 54%);background-image: -moz-linear-gradient(top, hsl(120, 45%, 58%), hsl(120, 34%, 48%));background-image: -webkit-gradient(linear, 0 0, 0 100%, from(hsl(120, 45%, 58%)), to(hsl(120, 34%, 48%)));background-image: -webkit-linear-gradient(top, hsl(120, 45%, 58%), hsl(120, 34%, 48%));background-image: -o-linear-gradient(top, hsl(120, 45%, 58%), hsl(120, 34%, 48%));
background-image: linear-gradient(to bottom, hsl(120, 45%, 58%), hsl(120, 34%, 48%));background-repeat: repeat-x;border-color: hsl(120, 34%, 48%) hsl(120, 34%, 48%) hsl(120, 33%, 33%);border-color: hsla(0, 0%, 0%, 0.1) hsla(0, 0%, 0%, 0.1) hsla(0, 0%, 0%, 0.25);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff62c462", endColorstr="#ff51a351", GradientType=0);filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);}
#LworkVideo_login .loginbtn:hover  {text-decoration: none;background-position: 0 -15px;-webkit-transition: background-position .1s linear;-moz-transition: background-position .1s linear;-o-transition: background-position .1s linear;transition: background-position .1s linear;color:#fff;background-color:#51a351;*background-color:#499249;}
#LworkVideo_login .pageTips{color: #b94a48;position: absolute;background: url(../images/videoBtn.png) no-repeat left -527px;font-size: 14px;padding-left: 20px;top: 37px;
left: 105px;}
#LworkVideo_login .cancel {padding: 10px 20px;color: hsl(0, 100%, 100%);text-shadow: 0 -1px 0 hsla(0, 0%, 0%, 0.25);background-color: hsl(2, 66%, 57%);background-image: -moz-linear-gradient(top, hsl(2, 81%, 65%), hsl(3, 60%, 46%));background-image: -webkit-gradient(linear, 0 0, 0 100%, from(hsl(2, 81%, 65%)), to(hsl(3, 60%, 46%)));background-image: -webkit-linear-gradient(top, hsl(2, 81%, 65%), hsl(3, 60%, 46%));background-image: -o-linear-gradient(top, hsl(2, 81%, 65%), hsl(3, 60%, 46%));background-image: linear-gradient(to bottom, hsl(2, 81%, 65%), hsl(3, 60%, 46%));background-repeat: repeat-x;border-color: hsl(3, 60%, 46%) hsl(3, 60%, 46%) hsl(3, 60%, 31%);border-color: hsla(0, 0%, 0%, 0.1) hsla(0, 0%, 0%, 0.1) hsla(0, 0%, 0%, 0.25);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffee5f5b", endColorstr="#ffbd362f", GradientType=0);filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);}
/*audio*/
.p2pAudio{background: url(../images/audioTipbg.png) no-repeat #a1d6e8;position: absolute;top: 2px;left: 2px;bottom: 2px; }
.p2pAudioTip{width: 172px;color:#fff;text-align: center;position: absolute;top: 90px;left: 0;}
.p2pAudioStatus{ position: absolute;top: 45px;left: 58px;}
.p2p_audio_screen{ display:none;}
.audio dd.p2paudioBox{ width:170px; height:200px;}
.audioOpt{ position: absolute;left: 0;top: 127px;right: 0;text-align: center;}