<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<link rel="shortcut icon" href="images/favicon.ico"/>
<link rel="stylesheet" type="text/css" href="style/common.css?t=75" />
<link rel="stylesheet" type="text/css" href="style/forum.css?t=75" />
<link rel="stylesheet" type="text/css" href="style/jquery.tagsinput.css?t=75" />
<link rel="stylesheet" type="text/css" href="style/video_plugin.css?t=75">
<link href="script/artDialog/skins/default.css" rel="stylesheet" type="text/css" />
<title>%%ID_LWORK_PLATFORM%%</title>
<script type="text/javascript" src="script/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="script/jquery.cookie.js"></script>


</head>
<body onload="showNotification('','')">
<span id="lw_ws_origin" style="display:none">%%ID_ORIGINAL_IP%%</span>
<div class="pagefix">
  <div class="topbg">
    <div id="header">
     <div class="logo">爱迅达科技（深圳）有限公司</div>
      <div class="sidebar_title">
        <ul>
          <!--li class="login_suc it_daohang"><a href="javascript:void(0);" class="set_perinformation">
		      <span class="per_infomation">%%ID_IT_NAV%%</span></a>
            <ul class="set_list"> %%ID_NAV_LIST%%
            </ul>
          </li>
          <li class="login_suc mobile"> <a href="javascript:void(0);" class="set_perinformation" ><span class="per_infomation">%%ID_APP_DIREC%%</span></a>
            <ul class="set_list">
              <li><a class="" href="/mobile_download/Lwork_iPhone&User_guide.zip" target="_blank">%%ID_APP_IPHONE%%</a> </li>
              <li><a class=""  href="/mobile_download/Lwork.apk" target="_blank">%%ID_APP_ANDROID%%</a></li>
            </ul>
          </li-->
          <li class="login_suc shezhi"> <a href="javascript:void(0);" class="set_perinformation" id="set"><span class="per_infomation" id="username"></span></a>
            <ul class="set_list">
              <li  mode = "modifyperinof"  class="modifyperinof personal"> %%ID_SETTINGS%%</li>
              <li  mode = "modifypassword" class="modifypassword personal">%%ID_CHANGE_PASSWORD%%</li>
              <li id="goback">%%ID_EXIT%%</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="lwork">
    <video id="soundControl" src="/images/digit_ring.mp3" playcount="3" width="0" height="0"></video>
    <div class="lwork_content">
      <!--div class="lwork_logo">%%ID_PLATFORM%%</div-->
      <div class="yq_menu">

          <li mode="topics" class="curent">
            <a href="javascript:void(0);">企业信息服务</a>
          </li>

          <li >
            <a href="javascript:void(0);">园区公共服务</a>
          </li>

      </div>

      <ul class="dynamic">
        <li class="topics"><a class="new_num" href="javascript:void(0);">0</a>
          <ul class="topics_detail detail">
            <li>%%ID_WEIBO%%： </li>
            <li mode = "topics" type = "new_msg" link = 'topic_msg' class="new_msg">%%ID_NEW_TOPIC%%（<span class="new_msg_num">0</span>） </li>
            <li mode = "topics" type = "new_comt" link = 'newcomt_content' class="new_comt">%%ID_NEW_REPLY%%（<span class="new_msg_comt">0</span>） </li>
          </ul>
        </li>
        <li class="tasks"> <a class="new_num"  href="javascript:void(0);">0</a>
          <ul class="tasks_detail detail">
            <li>%%ID_TASK%%： </li>
            <li mode = "tasks" type = "new_msg" link = 'current_task' class="new_msg">%%ID_NEW_TASK%%（<span class="new_msg_num">0</span>） </li>
            <li mode = "tasks" type = "new_comt" link = 'newcomt_tasks' class="new_comt">%%ID_NEW_REPLY%%（<span class="new_msg_comt">0</span>） </li>
          </ul>
        </li>
        <li class="video"> <a class="new_num"  href="javascript:void(0);">0</a>
          <ul class="video_detail detail">
            <li>%%ID_VIDEO_CALL%%： </li>
            <li class="vedio_notice p2p_vedio_notice" vmode="p2p" style="display:none"> </li>
            <li class="vedio_notice mp_vedio_notice" vmode="mp" style="display:none"> </li>
          </ul>
        </li>
        <li class="polls"> <a  class="new_num"  href="javascript:void(0);">0</a>
          <ul class="polls_detail detail">
            <li>%%ID_VOTE%%：</li>
            <li class="new_msg"  mode = "polls" link = 'polls_msg' type = "new_msg2" >%%ID_NEW_VOTE%%（<span class="new_msg_num">0</span>） </li>
          </ul>
        </li>
        <li class="email"> <a  class="new_num"  href="javascript:void(0);">0</a>
          <ul class="mails_detail detail">
            <li>您有新邮件： </li>
            <li class="new_msg"  mode = "email" link = 'email_msg' type = "email" >新邮件:（<span class="new_msg_num">0</span>） </li>
          </ul>
        </li>
        <li class="notice"><a class="new_num" href="javascript:void(0);">0</a>
          <ul class="notice_detail detail">
            <li  class="new_msg"   mode = "tasks" type = "taskfinish">%%ID_TASK_COMPLETE%%</li>
          </ul>
        </li>
      </ul>
      <div id="search_box" class='sea_box'>
        <input type="text" class="inputbox" id="search_input" value="%%ID_KEYWORD_SEARCH%%" maxlength="20"/>
        <span><a class="searchbutton" herf="javascript:void(0);"></a></span>
        <ul class="suggests"></ul>
      </div>
    </div>
  </div>
</div>

<div id="Interrupt"  class="alert alert-block alert-error fade in Interrupt">
    <a class="close" data-dismiss="alert" href="javascript:void(0);">×</a>
    <h4 class="alert-heading">%%ID_OFFLINE_NOTICE%%</h4>
    <p>%%ID_OFFLINE_CONTENT%%</p>
    <p><a class="btn" href="javascript:void(0);">%%ID_LOGIN_AGIN%%</a></p>
</div> 

<div id="alert" class="alert alert-block alert-error fade in">
     <a class="close" data-dismiss="alert" href="javascript:void(0);">×</a>
     <h4 class="alert-heading">%%ID_TIPS%%：</h4>
     <p>%%ID_INSTALL%%<a style="color:red; text-decoration:underline;" href="http://www.google.cn/chrome/intl/zh-CN/landing_chrome.html?hl=zh_cn&brand=CHMA&utm_campaign=zh_cn&utm_source=zh_cn-ha-apac-zh_cn-bk&utm_medium=ha" target="_blank">%%ID_CHROME_BROWSER%%</a>.<br/>%%ID_HARDWARE_CHECK%%</p>
     <p><a class="btn btn-danger concel" target="_blank"  href="http://www.google.cn/chrome/intl/zh-CN/landing_chrome.html?hl=zh_cn&brand=CHMA&utm_campaign=zh_cn&utm_source=zh_cn-ha-apac-zh_cn-bk&utm_medium=ha">%%ID_CLICK_INSTALL%%</a> 
  <a class="btn btn-danger concel" target="_blank"  href="http://pan.baidu.com/share/link?shareid=500175&uk=772255636">%%ID_CLICK_OFFLINEINSTALL%%</a>
  <a class="btn concel" href="javascript:void(0);">%%ID_LATE_TIME%%</a></p>
</div>

<div id="container">
  <div id="content">
    <div id="nav">
      <ul class="tab_item">
        <!--li class="salary"><a comtlink ="salary"  link="salary" href="javascript:void(0);">%%ID_MY_SARLARY%%</a></li>
        <li class="focus"><a comtlink ="focus"  link="focus" href="javascript:void(0);">%%ID_MY_FAVORITE%%</a></li-->
        <li class="topics"><a comtlink ="topic_msg" link="yq_notice" href="javascript:void(0);">园区通知</a><span class="new_mes"></span></li>
        <li class="topics"><a comtlink ="topic_msg" link="yq_notice" href="javascript:void(0);">政府通知</a><span class="new_mes"></span></li>
        <li class="topics"><a comtlink ="topic_msg" link="yq_notice" href="javascript:void(0);">政策服务</a><span class="new_mes"></span></li>
        <li class="line"></li>
        <li class="tasks"><a comtlink ="mysend_msg" link="tasks" href="javascript:void(0);">项目协同</a><span class="new_mes"> </span></li>
        <!-- 
         <li class="email"><a comtlink="email" link="email" href="javascript:void(0);"  class="">%%ID_MY_EMAIL%%</a></li> -->
        <li class="documents"><a comtlink ="file_share_container"  link="documents" href="javascript:void(0);">%%ID_CLOUD_DISK%%</a><span class="new_mes"> </span> </li>
        <li class="topics"><a comtlink ="topic_msg" link="topics" href="javascript:void(0);">%%ID_ENTERPRISE_WEIBO%%</a><span class="new_mes"></span></li>
        <li class="meeting"><a comtlink ="meeting"  link="meeting" href="javascript:void(0);">%%ID_CONFERENCE_CALL%%</a><span class="new_mes"> </span> </li>
        <li class="video"><a comtlink ="video"  link="video" href="javascript:void(0);">%%ID_VIDEO_CALL%%</a></li>       
        <li class="voip"><a comtlink ="voip"  link="voip" href="javascript:void(0);">%%ID_VOIP%%</a><span class="new_mes"> </span> </li>
        <li class="shortmsg"><a comtlink ="shortmsg"  link="shortmsg" href="javascript:void(0);">%%ID_SMS%%</a></li>  
        <li class="polls"><a comtlink ="polls_msg"  link="polls" href="javascript:void(0);">%%ID_BALLOT%%</a><span class="new_mes"> </span></li>
        <li class="questions"><a comtlink ="questions_msg" link="questions"  href="javascript:void(0);">%%ID_QA%%</a><span class="new_mes"> </span></li>
        <!--li class="forum"><a comtlink ="forum"  link="forum" href="javascript:void(0);">%%ID_LETS_FORUM%%</a></li>           
        <li class="line"></li>       
        <li class="recycle"><a comtlink ="recycle"  link="recycle" href="javascript:void(0);">%%ID_RECYCLE_BIN%%</a></li-->
      </ul>
    </div>
    <div id="article">

      <div id="yq_notice" style="display: none;">
        
        <ul class="menu">
          <li mode="topics" class="curent" type="topics" link="topic_content" status="all">全部通知</li>
          <li mode="topics" class="newcomt" status="reply" link="newcomt_content" type="topics">未读通知</li>
        </ul>

        <div class="option_content content_border">
          <div id="yq_notice_content"> <a href="javascript:void(0);" mode="topics"  link = 'topic_msg' class="nuread_msg">%%ID_UNREAD_WEIBO%%</a>
            <div id="yq_notice_msg" class="msg" containdom="no"></div>
          </div>
          <div id="yq_notice_newcomt_content" class="newcomtContent"> <a href="javascript:void(0);" mode="topics"  link = 'newcomt_content' class="nuread_comt">%%ID_UNREAD_REPLY%%</a>
            <div class="newcomt_wrap" containdom="no"> </div>
          </div>
        </div>
      </div>

      <!--   -->
      <div id="topics" style="display: none;">
        <div class="sendmessage"> 
          <div class="mode_tag">     
            <span class="modetype"> %%ID_ENTERPRISE_WEIBO%%</span>
            <span class="modetips"> %%ID_POST_WEIBO%%</span>
          </div>
          <div class="containeditDiv">
            <div contenteditable="true" id="lwork_mes_weibo" class="lwork_mes"> </div>
          </div>
          <div class="stb">  
            <a href="javascript:void(0);" class="upload_image">选择图片</a>
            <a class="sendBtn disabledBtn"  href="javascript:void(0);">%%ID_POST%%</a> 
            <span class="remindSpan">
              <span class="countTxt">%%ID_CHARACTER_LEFT%%</span>
              <span class="maxNum">300</span>
              <span>%%ID_CHARACTER_RIGHT%%</span>
            </span>
            <div class="sharefile_handle">
              <form enctype="multipart/form-data" action ="/lw_pic_upload.yaws" method="post">
                <input type="file" class="DiskFile" name="upld" link="'+ css +'" onchange="sharefiles_handle(this, 'images')"/>
                <input type="submit" value="submit_files" class="submit_sharefile"  style="display:none" />
              </form>
            </div>
            <div class="fileList">
            </div>
          </div> 
        </div>
        <ul class="menu">
          <li mode="topics" class="curent" type="topics" link="topic_content" status="all">%%ID_ALL_WEIBO%%</li>
          <li mode="topics" class="newcomt" status="reply" link="newcomt_content" type="topics">%%ID_NEW_REPLY%%</li>
        </ul>
        <div class="option_content content_border">
          <div id="topic_content"> <a href="javascript:void(0);" mode="topics"  link = 'topic_msg' class="nuread_msg">%%ID_UNREAD_WEIBO%%</a>
            <div id="topic_msg" class="msg" containdom="no"></div>
          </div>
          <div id="newcomt_content" class="newcomtContent"> <a href="javascript:void(0);" mode="topics"  link = 'newcomt_content' class="nuread_comt">%%ID_UNREAD_REPLY%%</a>
            <div class="newcomt_wrap" containdom="no"> </div>
          </div>
        </div>
      </div>
      <div id="tasks" style="display: none;">
        <div class="sendmessage">
          <div class="mode_tag">     
             <span class="modetype"> %%ID_LETS_WORK%%</span>
             <span class="modetips"> %%ID_START_WORK%%</span>
          </div> 
          <div class="containeditDiv">
            <div contenteditable="true" id="lwork_mes_tasks" class="lwork_mes"></div> 
          </div>
          <div class="stb">           
          <!--  <a href="javascript:void(0);" class="upload_image">%%ID_IMAGE%%</a> -->
            <a href="javascript:void(0);" class="upload_attachment">选择文件(最大10M)</a>
             <a class="sendBtn disabledBtn"  href="javascript:void(0);">%%ID_POST%%</a>
            <span class="remindSpan">
             <span class="countTxt">%%ID_CHARACTER_LEFT%%</span>
             <span class="maxNum">1000</span>
             <span>%%ID_CHARACTER_RIGHT%%</span>
           </span>
          <div class="sharefile_handle">
            <form enctype="multipart/form-data" action ="/lw_upload.yaws?size_limit=10000000" method="post">
              <input type="file" class="DiskFile" name="upld" link="'+ css +'" onchange="sharefiles_handle(this, 'attach')"/>
              <input type="submit" value="submit_files" class="submit_sharefile"  style="display:none" />
            </form>
          </div>
          <div class="fileList">
          </div>
          </div>
        </div>
        <ul class="menu task_menu">
          <li class="curent" mode="tasks" type="assigned" link="current_task" status="unfinished">%%ID_FROM_OTHERS%%</li>
          <li link="mysend_msg" mode="tasks" type="owned" status="unfinished">%%ID_TO_OTHERS%%</li>
          <li link="newcomt_tasks" mode="tasks"  class="newcomt"  type="" status="reply">%%ID_NEW_REPLY%%</li>
          <li link="finish_msg" mode="tasks" type="" status="finished">%%ID_COMPLETE%%</li>
        </ul>
        <div class="option_content"> <a href="javascript:void(0);" mode="tasks"  link = 'current_task' class="nuread_msg">%%ID_UNREAD_TASK%%</a>
          <div id="current_task" class="msg" containdom="no"></div>
          <div id="finish_msg" class="msg" containdom="no" style="display:none;"></div>
          <div id="mysend_msg"  class="msg" containdom="no" style="display:none;"></div>
          <div id="newcomt_tasks"  class="newcomtContent"> <a href="javascript:void(0);" mode="tasks"  link = 'newcomt_tasks' class="nuread_comt">%%ID_UNREAD_REPLY%%</a>
            <div class="newcomt_wrap" containdom="no"></div>
          </div>
        </div>
      </div>
      <div id="questions" style="display: none;">
        <div class="sendmessage">   
          <div class="mode_tag">     
             <span class="modetype">%%ID_QA%%</span>
             <span class="modetips">%%ID_EXPLAIN_QA%%</span>
          </div>  
          <div class="containeditDiv">
           <div contenteditable="true" id="lwork_mes_questions" class="lwork_mes">%%ID_ASK_QUESTION%%</div>
          </div>
          <textarea name="description_input" style="margin-top:10px;" cols=""  rows="1" class="poll_item description_input" sendid="">%%ID_DETAILS%%</textarea>
          <input  type="text" name="ask_tag"  value="%%ID_SET_TAG%%" class="poll_item ask_tag"/>
          <a class="sendBtn disabledBtn"  href="javascript:void(0);">%%ID_POST%%</a> 
            <span class="remindSpan">
              <span class="countTxt">%%ID_CHARACTER_LEFT%%</span>
              <span class="maxNum">1000</span>
              <span>%%ID_CHARACTER_RIGHT%%</span>
           </span>
          <div class="seatips"> </div>
        </div>
        <div class="op_content content_border">
          <div class="option_content" id="questions_msg" containdom="no"> </div>
        </div>
      </div>
      <div id="forum" style="display: none;">
        <div class="mode_tag">     
           <span class="modetype">%%ID_LETS_FORUM%%</span>
           <span class="forum_sums">%%ID_FORUM_TODAY%%<strong class="today">0</strong> %%ID_FORUM_SUBJECT%% <strong class="total">0</strong></span>
           <div class="modetips">%%ID_FORUM_WELCOM%%</div> 
        </div>
        <div class="history_nav"></div>
        <div class="post_and_pgt"> 
          <div style="float:left">
            <a href="javascript:void(0);" id="forum_post" initialized="true">%%ID_FORUM_POST%%</a>
            <!--a href="javascript:void(0);" id="forum_reply" title="回复" initialized="true" style="display:none">回复  </a-->
          </div>
          <div class="forum_pgt">
            <a class="gotolist" href="javascript:void(0);">%%ID_FORUM_BACK%%</a>
            <span class="pg" style="display:none">
              <a href="javascript:void(0);" class="last">%%ID_FORUM_PREV%%</a>
              <span class="pg_number">
              </span>
              <a href="javascript:void(0);" class="next">%%ID_FORUM_NEXT%%</a>
            </span>
          </div>   
        </div>  
        <div class="op_content">
          <div class="forum_topics_page">
            <ul class="forum_con_nav">
              <li class="curent" link="all">全部帖子</li>
              <li link="essence">精华帖子</li>
              <li class="sequence">
                排序：<a id="filter_orderby" href="javascript:;" class="showmenu xi2" onclick="showMenu(this.id)" initialized="true" >发帖时间</a>
              </li>
            </ul>
            <div class="option_content" id="forum_msg" containdom="no">
            </div>
          </div>
          <div id="forum_detail" class="forum_detail" style="display:none">               
            <h3 class="thread_subject"> 
              <!--div class="thread_btns">
                <a href="javascript:void(0);" title="打印" target="_blank"><img src="images/print.png" alt="打印" class="vm"></a>
                <a href="javascript:void(0);" title="上一主题"><img src="images/thread-prev.png" alt="上一主题" class="vm"></a>
                <a href="javascript:void(0);" title="下一主题"><img src="images/thread-next.png" alt="下一主题" class="vm"></a>
              </div-->    
            </h3> 
            <div class="forumtop"><img src="/images/forum_top.gif" width="148" height="88" /></div>
            <div id="forum_reply">            
               </div>
          </div>
          <div id="forum_post_topic">
          </div>
        </div>
        <div class="forum_pgt" style="padding-bottom:10px">
            <a class="gotolist" href="javascript:void(0);">%%ID_FORUM_BACK%%</a>
            <span class="pg" style="display:none">
              <a href="javascript:void(0);" class="last">%%ID_FORUM_PREV%%</a>
              <span class="pg_number">
              </span>
              <a href="javascript:void(0);" class="next">%%ID_FORUM_NEXT%%</a>
            </span>
        </div>
        <div class="sendmessage">
          <textarea name="forum_title" maxlength="200" cols="" rows="1" class="title" sendid="" style="color: rgb(153, 153, 153);"></textarea>
          <textarea name="" cols=""  rows="1" class="detail_content" sendid=""></textarea>
          <textarea name="" cols=""  rows="1" class="reply_content" style="display:none"></textarea>
          <a href="javascript:void(0);" class="upload_image">%%ID_IMAGE%%</a>
          <a href="javascript:void(0);" class="upload_attachment">%%ID_ATTACHMENT%%</a>
          <a class="sendBtn disabledBtn"  href="javascript:void(0);">%%ID_POST%%</a> 
          <span class="remindSpan">
              <span class="countTxt">%%ID_CHARACTER_LEFT%%</span>
              <span class="maxNum">1000</span>
              <span>%%ID_CHARACTER_RIGHT%%</span>
           </span>
          <div class="seatips"> </div>
        </div>
      </div>
      <div id="meeting" style="display:none;"  containdom="no">
        <div class="sendmessage">
            <div class="mode_tag">     
             <span class="modetype">%%ID_CONFERENCE_CALL%%</span>
             <span class="modetips">%%ID_MODETIPS_CONFERENCE%%</span>
          </div>  
          <div class="meeting_box">
           <div class="meeting_input_box">
             <input  type="text" name="meetingTheme"  value="%%ID_CONFERENCE_TOPIC%%" class="meetingTheme" / >
             <input  type="text" name="username"  value="%%ID_USERNAME%%" class="inputText" />
             <a href="javascript:void(0);" class="meeting_pending_add"></a>
             <ul class="seatips"> </ul>           
           </div>
           <div class="membertitle"> %%ID_ONGOING_MEMBER%%</div>
           <div class="meetingTips"></div>
           <ul id="meeting_current_list" class="meeting_current_list"> </ul>
          </div>
          <div><a id="meeting_start_action"  class="meeting_action" href="javascript:void(0);">%%ID_START_MEETING%%</a><a class="meeting_action"  style="display:none;" id="meeting_stop_action" href="javascript:void(0);">%%ID_END_MEETING%%</a></div>
          <ul class="meeting_history_list option_content">
          </ul>
        </div>
      </div>
      <div id="voip" style="display:none;"  containdom="no">
        <div class="sendmessage">
          <div class="mode_tag">     
             <span class="modetype">%%ID_VOIP%%</span>
             <span class="modetips">%%ID_MODETIPS_VOIP%%</span>
          </div>
          <div class="voip_mgt">
            <video id="voip_obj" autoplay="autoplay" style="width:1;height:1;display:none;"></video>
          </div>        
          <div class="voip_box">
            <div class="peer">

            <div class="call_obj" style="display:none">
              <img src="/images/photo/hybrid.bmp" width="45" height="45">
              <span class="callPerson"></span> 
              <span class="callTime"></span>                    
             </div> 

              <!--<div class="call_status" style="display:none">
                <span class="peer_status"></span>
                <span class="voip_call_status">%%ID_CALL_STATUS%%</span>
              </div> -->
 
       <div class="call_status">
        <span class="peer_status">
          <img src="images/warning.png" class="warning" width="25" height="25" /> 
          <img src="images/smile.png" class="smile" width="25" height="25" /> 
          <img src="images/error.png" class="error" width="25" height="25" /> 
          <img src="images/micro.gif" class="micro" width="40" height="40" />
          <img src="images/calling.gif" class="calling" width="40" height="40" /> 
          <img src="images/ring.gif" class="ring" width="40" height="40" /> 
          <img src="images/talking.gif" class="talking" width="40" height="40" /> 
       </span>
       <span class="voip_call_status">Call in making...</span> 
       <span class="callTime"> Time remained：<span class="callTimeTtext">02:00</span></span>
      </div>
     

              <span class="peer_inputer">
                <input type="text" name="peerNum"  value="%%ID_USERNAME%%" class="peerNum"></input>
                <ul class="seatips"> </ul>              
              </span>
            <div class="showhideDP"><a class="showpanel toshow" href="javascript:void(0);"></a></div>
               <div class="voip_operations">
                <a id="voip_start" class="voip_action" href="javascript:void(0);">%%ID_CALLING%%</a><a id="voip_stop" class="voip_action" href="javascript:void(0);" style="display:none">%%ID_HANG_UP%%</a>
              </div> 
               <div class="dialpanel" id='dialpanel'>
                <ul>
                  <li><a href="javascript:void(0);" class="key_97 key_49">1</a></li>
                  <li><a href="javascript:void(0);" class="key_98 key_50">2</a></li>
                  <li><a href="javascript:void(0);" class="key_99 key_51">3</a></li>
                  <li><a href="javascript:void(0);" class="key_100 key_52">4</a></li>
                  <li><a href="javascript:void(0);" class="key_101 key_53">5</a></li>
                  <li><a href="javascript:void(0);" class="key_102 key_54">6</a></li>
                  <li><a href="javascript:void(0);" class="key_103 key_55">7</a></li>
                  <li><a href="javascript:void(0);" class="key_104 key_56">8</a></li>
                  <li><a href="javascript:void(0);" class="key_105 key_57">9</a></li>
                  <li><a href="javascript:void(0);" class="key_star">*</a></li>
                  <li><a href="javascript:void(0);" class="key_96 key_48">0</a></li>
                  <li><a href="javascript:void(0);" class="key_mark">#</a></li>
                </ul>
              </div> 
              

            </div>
          </div>
          <ul class="voip_history_list option_content"></ul>
        </div>
      </div>
<!--
    <div id="salary" style="display: none;">
      <div class="option_content">
     <div id="salary-header">
        <h1><span id="titleTime"></span>工资列表</h1>
        <div class="selectMonth">选择月份：
          <select name="" class="amount" id="select_year" add_data="year">
          </select>
          <select name="" class="amount" id="select_month" add_data="month">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
            <option>11</option>
            <option>12</option>
          </select>
          <a href="javascript:void(0);" class="salarybtn" id="searchBTN">查询</a></div>
      </div>
      <hr />
      <div id="salary_msg"></div>
      </div>
    </div>  -->
      
      <div id="polls" style="display: none;">
        <div class="sendmessage">        
          <div class="mode_tag">     
             <span class="modetype"> %%ID_BALLOT%%</span>
             <span class="modetips"> %%ID_MODETIPS_BALLOT%%</span>
          </div>  
        <div class="containeditDiv">
         <div contenteditable="true" id="lwork_mes_polls" class="lwork_mes">%%ID_MAKE_DECISION%%</div>
       </div>   

       <div class="stb">
        <a href="javascript:void(0);" class="upload_image">%%ID_IMAGE%%</a>
          <div class="sharefile_handle">
            <form enctype="multipart/form-data" action ="/lw_upload.yaws?size_limit=10000000" method="post">
              <input type="file" class="DiskFile" name="upld" link="'+ css +'" onchange="sharefiles_handle(this, 'images')"/>
              <input type="submit" value="submit_files" class="submit_sharefile"  style="display:none" />
            </form>
          </div>
          <div class="fileList">
          </div>
       </div> 

          <div id="polls_option">
          <ul><li>          
          <form  enctype="multipart/form-data" action ="/lw_pic_upload.yaws" method="post">
            <div class="file-wrapper_polls">
             <input type="file" name="upld"  class="upload_pollsitem" onchange="upload_itemimages(this)"/>
             <div class="uploadItem_btn">
               <img src = "/images/update_pic.png" source="" class="display_img"/>
             </div>
             <input type="submit" value="submit_files" class="submit_imgaes"  style="display:none" />
            </div>
           </form>  
           <div class="pollitembox"> 
             <input  type="text" name="poll_item"  value="%%ID_OPTION%%A" class="poll_item" / ></div></li>
            <li>
           <form  enctype="multipart/form-data" action ="/lw_pic_upload.yaws" method="post">
            <div class="file-wrapper_polls">
             <input type="file" name="upld"  class="upload_pollsitem" onchange="upload_itemimages(this)"/>
             <div class="uploadItem_btn">
             <img src = "/images/update_pic.png" source="" class="display_img"/>
             </div>
             <input type="submit" value="submit_files" class="submit_imgaes"  style="display:none" />
            </div>
           </form>   
           <div class="pollitembox">                         
            <input type="text" name="poll_item"  value="%%ID_OPTION%%B" class="poll_item" / ></div></li>
            <li>
          <form enctype="multipart/form-data" action ="/lw_pic_upload.yaws" method="post">
            <div class="file-wrapper_polls">
             <input type="file" name="upld"  class="upload_pollsitem" onchange="upload_itemimages(this)"/>
             <div class="uploadItem_btn">           
             <img src = "/images/update_pic.png" source="" class="display_img"/>
             </div>
             <input type="submit" value="submit_files" class="submit_imgaes"  style="display:none" />
            </div>
           </form>
           <div class="pollitembox"> 
           <input type="text" name="poll_item"  value="%%ID_OPTION%%C" class="poll_item" / ></div></li>
          </ul>
          </div>
          <a class="sendBtn disabledBtn"  href="javascript:void(0);">%%ID_POST%%</a>
           <span  class="remindSpan">
             <span class="countTxt">%%ID_CHARACTER_LEFT%%</span>
             <span class="maxNum">300</span>
             <span>%%ID_CHARACTER_RIGHT%%</span>
           </span>
          <div class="seatips"> </div>
        </div>
        <div class="op_content content_border"> <a href="javascript:void(0);" mode="polls"  link = 'polls_msg' class="nuread_msg">%%ID_NEW_BALLOT%%</a>
          <div class="option_content">
          <div id="polls_msg" class="msg"  containdom="no"></div>
        </div>
        </div>
      </div>
     <div id="documents" style="display: none;">
      <div id="WebDiskBox">
        <div class="Db">
          <span class="Dt">上传文件(最大100M)</span>
          <a href="javascript:void(0);" class="Bb" title="最大化"></a>
          <a href="javascript:void(0);" class="Bm" title="最小化"></a>
          <a href="javascript:void(0);" class="Bc" title="关闭"></a>    
        </div>
        <div class="fileList"></div>
      </div>
      <div class="sendmessage">
        <div class="mode_tag">     
           <span class="modetype">%%ID_CLOUD_DISK%%</span>
           <span class="modetips">%%ID_MODETIPS_DISK%%</span>
        </div>
      </div>
        <div class=""> 
        <div class="sharefile_handle">
         <a href="javascript:void(0);" id="share_file">%%ID_FILE_UPLOADFILE%%</a>
         <form enctype="multipart/form-data" action="/lw_upload.yaws" method="post">
            <input type="file" class="DiskFile" onchange="sharefiles_handle(this, 'documents')"  name="upld"  />
            <input type="submit" value="submit_files" class="submit_sharefile" style="display:none"/>
         </form>  
                           
        </div>
          <div class="option_content" > 
            <ul>
              <li class="vd_sieve">
                <span class="current" title="%%ID_ALL_FILE%%" filetype = 'all_files'><a href="javascript:void(0);"  class="all_file"></a></span>
                <span class="" title="%%ID_IMAGES_FILE%%" filetype = 'pic_files'><a href="javascript:void(0);" class="pic_file"></a></span>
                <span class="" title="%%ID_DOC_FILE%%" filetype = 'doc_files'><a href="javascript:void(0);" class="doc_file"></a></span>  
                <span class="" title="%%ID_RAR_FILE%%" filetype = 'rar_files'><a href="javascript:void(0);" class="rar_file"></a></span> 
                <span class="" title="%%ID_OTHER_FILE%%" filetype = 'other_files'><a href="javascript:void(0);" class="other_files"></a></span>  
              </li>
              <li class="hover_top">        
                <em class="uname">%%ID_FILE_NAME%%</em>
                <span class="fsize file_gray">%%ID_SIZE%%</span>
                <span class="fdate file_gray">%%ID_UPDATED%%</span>
              </li>
           </ul>   
          <div id="file_share_container" class="msg"  containdom="no"></div>
        </div>
        </div>
      </div>

     <div id="video" style="display: none;">
        <div class="videocontainer">
          <div class="sendmessage">
             <div class="mode_tag">     
               <span class="modetype">%%ID_VIDEO_CALL%%</span>
               <span class="modetips">%%ID_MODETIPS_VIDEO%%</span>
             </div>            
            <div class="navigator_tips">
              <ul>
                <li><em>1、</em>%%ID_TIP_CHROME%%<a href="https://tools.google.com/dlpage/chromesxs" target="_blank">https://tools.google.com/dlpage/chromesxs</a>；</li>       
                <li><em>2、</em>%%ID_RESTART_BROWSER%%</li>
              </ul>
            </div>

            <div class="video_panel">
              <ul class="menu video_mode_selections">
               <li class="video_mode p2p_video curent" v_mode="p2p">%%ID_P2P_VIDEO%%</li>
               <li class="video_mode mp_video" v_mode="mp">%%ID_MP_VIDEO%%</li>
              </ul>
              <div class="video_bar">
                <div class="video_btns p2p_btns"><span class="video_time"> <a class="startVedio"  href="javascript:void(0);">%%ID_START_VIDEO%%</a> <a class="endVedio" href="javascript:void(0);">%%ID_END_VIDEO%%</a></span>
                </div>
                <div class="video_btns mp_btns" style="display:none"><span class="video_time"> <a class="startVedio"  href="javascript:void(0);">%%ID_START_VIDEO%%</a> <a class="endVedio" href="javascript:void(0);">%%ID_END_VIDEO%%</a><a class="leaveVedio" href="javascript:void(0);">%%ID_EXIT_VIDEO%%</a></span>
                </div>
              </div>
            </div>
          </div>

        <div class="video_content">
          <div class="video_box">

            <div class="videoTips"></div>


            <div class="video_box_icon p2p_icon">
              <video id="p2p_main_screen" autoplay src="" width="100%" height="100%">
              </video>
              <video id="p2p_slave_screen" autoplay src="" width="30%" height="30%">
              </video>
              <div class="peer_info"></div>
            </div>
            <div class="video_box_icon mp_icon" style="display:none">
            <video id="video_screem" class="video-js vjs-default-skin" autoplay controls preload="auto" width="100%" height="100%" data-setup="{}">
              <source src="" type='video/mp4'>
            </video>  

            <table id="video_grade" width="100%" height="100%">
              <tbody>
                <tr class="vd_tr" width="100%" height="50%">

                 <td class="seat free" id="seat0" width="50%" height="50%" mUUID="90" style="box-shadow: 1px 0px 8px rgba(50, 50, 50, 0.68);">
                    <span class="vmember_name"></span>
                    <span class="vmember_status"></span>
                    <span class="chairman_opt"><a href="javascript:void(0);" class="chairman_btn del_vmember">%%ID_DELETE%%</a><a href="javascript:void(0);" class="chairman_btn call_vmember">%%ID_CALLING%%</a><a href="javascript:void(0);" class="chairman_btn hkon_vmember">%%ID_REMOVE_VIDEO%%</a></span>
                  </td>

                  <td class="seat free" id="seat1" width="50%" height="50%" mUUID="91" style="box-shadow: -1px 0px 8px rgba(50, 50, 50, 0.68);">
                    <span class="vmember_name"></span>
                    <span class="vmember_status"></span>
                    <span class="chairman_opt"><a href="javascript:void(0);" class="chairman_btn del_vmember">%%ID_DELETE%%</a><a href="javascript:void(0);" class="chairman_btn call_vmember">%%ID_CALLING%%</a><a href="javascript:void(0);" class="chairman_btn hkon_vmember">%%ID_REMOVE_VIDEO%%</a></span>
                  </td>
                </tr>
                <tr class="vd_tr" width="100%" height="50%">
                  <td class="seat free" id="seat2" width="50%" height="50%" mUUID="92"  style="box-shadow: 1px 0px 8px rgba(50, 50, 50, 0.68);">
                    <span class="vmember_name"></span>
                    <span class="vmember_status"></span>
                    <span class="chairman_opt"><a href="javascript:void(0);" class="chairman_btn del_vmember">%%ID_DELETE%%</a><a href="javascript:void(0);" class="chairman_btn call_vmember">%%ID_CALLING%%</a><a href="javascript:void(0);" class="chairman_btn hkon_vmember">%%ID_REMOVE_VIDEO%%</a></span>
                  </td>
                  <td class="seat free" id="seat3" width="50%" height="50%" mUUID="none" style="border-left:none;box-shadow: -1px 0px 8px rgba(50, 50, 50, 0.68);">
                    <span class="vmember_name"></span>
                    <span class="vmember_status"></span>
                    <span class="chairman_opt"><a href="javascript:void(0);" class="chairman_btn del_vmember">%%ID_DELETE%%</a><a href="javascript:void(0);" class="chairman_btn call_vmember">%%ID_CALLING%%</a><a href="javascript:void(0);" class="chairman_btn hkon_vmember">%%ID_REMOVE_VIDEO%%</a></span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="seatips"> </div>
          </div>
        </div> 
      </div>
    </div>     


      <div id="shortmsg" style="display:none;"  containdom="no">
        <div class="sendmessage">
          <div class="mode_tag">     
             <span class="modetype">%%ID_SMS%%</span>
             <span class="modetips">%%ID_MODETIPS_SMS%%</span>
          </div>
          <div class="shortmsgmgt"></div>
          <div class="shortmsg_box">
            <input id="sendsms_input" data='' type="text" class="receivers" value="" /> 
            <!--textarea name="" cols="" rows="1" value="" class="receivers">%%ID_SMS_RECEIVER%%</textarea-->
            <textarea name="" cols="" rows="1" value="" class="shortmsg_content">%%ID_SMS_CONTENT%%</textarea> 
            <a id="sendShortMsg"  href="javascript:void(0);">%%ID_SEND%%</a> <span class="remindSpan">%%ID_SMS_LIMIT%%</span></span>
          </div>
          <div class="smsTips"></div>
          <div class="shortmsg_history">
            <a id="view_shortmsg_history" href="javascript:void(0);">%%ID_SMS_HISTORY%%</a>
            <div class="shortmsg_history_list option_content"></div>
          </div>
        </div>
      </div>
      <div id="focus" style="display: none;">
       <div class="mode_tag">     
             <div><span class="focustype">%%ID_MY_FAVORITE%%</span><span class="title_supliment">%%ID_FAVORITE_TOTAL%%</span></div>
             <div><span class="modetips">%%ID_MY_FAVORITE1%%</span></div>
        </div>
        <div class="tag_mgt"></div>
        <div class="option_content" id="focus_msg" containdom="no"></div>
      </div>
      <div id="recycle" style="display: none;">
       <div class="mode_tag">     
           <span class="modetype">%%ID_RECYCLE_BIN%%</span>
           <span class="modetips">%%ID_DELETED_MESSAGE%%</span>
        </div>
        <div class="recycle_mgt">
           <div><span><a href="javascript:void(0);" id="delete_all">%%ID_RECYCLE_ENPTY%%</a></span></div>
        </div>
        <div class="option_content" id="recycled_msg"  containdom="no"></div>
      </div>
      <div id="search_result" style="display: none;">
       <div class="mode_tag">     
          <div><span class="search_result_type">%%ID_SEARCH_RESULT%%</span><span class="title_supliment">%%ID_SEARCH_RESULT_NUM%%</span></div>
          <div><span class="modetips">%%ID_KEY_WORD%%</span></span></div>
        </div>
        <div class="search_mgt">
          <div><a href="javascript:void(0);" id="abandon_search_result">%%ID_ABANDON_SEARCH%%</a></div>
        </div>
        <div class="option_content" id="search_result_msg"  containdom="no"></div>
      </div>
    </div>
    <div class="slide_box">
      <div class="contactbox">
        <div class="contact_tab">
          <ul>
            <li class="li_current"><a link="org_structure" class="structre_contact curent"  href="javascript:void(0);">%%ID_ORG_STRUCTURE%%</a></li>
            <li class=""><a link="group_list"  class="mygroup_contact" href="javascript:void(0);">%%ID_ORG_GROUP%%</a></li>
            <li class="group_list"><a link="recontact" class="Recontcont_contact" title="" href="javascript:void(0);">%%ID_ORG_RECENT%%</a></li>
          </ul>
           <ul class="search_members">
            <li class="li_current"><a class="structre_contact curent" href="javascript:void(0);">%%ID_ORG_SEARCHRESULTS%%</a></li>
          </ul>    
        </div>
        <div class="membercount"> <a class="" href="javascript:void(0);"><span id='groupname' groupname=''></span> (<span id='group_num'></span>)</a></div>
        <div class="contianer_contact" id="contianer_contact">
          <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
          <div id="contact"  class="viewport">

            <div class="overview">
                <div>
                    <div id = "org_structure"></div>
                    <div id='group_list' style="display:none;"> </div>
                    <div id="recontact" style="display:none;" isupdate="no"></div>
                </div>
                <div id='search_employer' style="display:none;"> </div>
            </div>   
                                      
          </div>
        </div>
        <div class="ser_employer">
             <a class="ser_employer_btn" herf="javascript:void(0);"></a>
             <input type="text" class="sea_member_input" value="%%ID_ORG_SEARCH%%"/>
           <span id ="creategroup" class="create_group">%%ID_GROUP_CREATE%%</span>
        </div>
      </div>

<!-- 
      <div class="forum_box"  style="display:none;">
         <div class="sea_box" style="display:none">
            <input type="text" class="inputbox" id="" value="%%ID_FORUM_SEARCHPOSTS%%" maxlength="20" style="color: rgb(153, 153, 153);">
            <span><a class="searchbutton" herf="javascript:void(0);"></a></span>
         </div>
         <div class="forum_nav" style="display:none">         
           <div class="forum_nav_con"> 
            <a href="javascript:void(0);">%%ID_FORUM_POSTS%%</a> 
            <span class="forum_split">|</span>
            <a href="javascript:void(0);">%%ID_FORUM_REPLY%%</a>  
           </div>      
         </div>
         <div class="forum_menu">
            <h3>%%ID_FORUM_Room%%</h3>            
            <ul>

            </ul>
         </div>
      </div>  -->

    </div>



    <div style="top: 400px; display: none;" id="loading" class="zeng_msgbox_layer_wrap"><span id="mode_tips_v2" style="z-index: 10000;" class="zeng_msgbox_layer"><span class="gtl_ico_clear"></span><img alt="" src="images/loading.gif"> %%ID_SEARCH_LOADING%%<span class="gtl_end"></span></span></div>

    <div id="creatgroupbox" style="display: none;">
      <div class="modify_tips">%%ID_CREATE_EXIST%%</div>
      <ul>
        <li>
          <label>%%ID_GROUP_NAME%%</label>
          <input class="inputbox" type="text"  value="%%ID_TIP_GROUPNAME%%" c/>
        </li>
        <li class="tips">%%ID_TIP_GROUPEMPTY%%</li>
      </ul>
    </div>
    <div id="modifygroupbox" style="display: none;">
      <ul>
        <li>
          <input id="add_member" data="" class="inputbox" type="text" value="%%ID_TIP_SEARCH%%" />
        </li>
        <li>
          <ul id='addmemberlist'>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
<div id="modifyperinof" style="display:none;">
  <div class="modify_tips"></div>
  <img src="" style="width:58px;height:58px;">
  <a href="javascript:void(0);" class="modify_img">%%ID_CHANGE%%</a>   
  <table class="lwork_modifypass lworkmodify_info">
    <tr>
      <td><span class="tdTitle">%%ID_TDTITLE_STAFFID%%</span><span class="name"></span></td>
    </tr>
    <tr>
      <td><span class="tdTitle">%%ID_TDTITLE_DEPT%%</span><span class="department"></span></td>
    </tr>
    <tr>
      <td><span class="tdTitle">%%ID_TDTITLE_PHONE_MOBILE%%</span><input type="text"  value=""  name="telephone" class="mobile" /></td>
    </tr>
    <tr>
      <td><span class="tdTitle">%%ID_TDTITLE_PHONE_PSTN%%</span><input type="text"  value=""  name="telephone" class="pstn" /></td>
    </tr>
    <tr>
      <td>
        <span class="tdTitle">%%ID_TDTITLE_PHONE_EXTENSION%%</span><input type="text"  value=""  name="telephone" class="extension" />
      </td>
    </tr>
    <tr>
      <td>
        <span class="tdTitle">%%ID_TDTITLE_PHONE_OTHER%%</span><input type="text"  value=""  name="telephone" class="other" />
        <a href="javascript:void(0);" class="add_other_phone"></a>
      </td>
    </tr>
    <tr>
      <td><span class="tdTitle">%%ID_TDTITLE_MAIL%%</span><input type="text"  value=""  name="email" class="email" /></td>
    </tr>
  </table>
</div>
<div id="modifypassword" style="display:none;">
  <div class="modify_tips">%%ID_TIP_PASSWORD%%</div>
  <table width="100%" class="lwork_modifypass">
    <tr>
      <td><span class="tdTitle">%%ID_OLD_PASSWORD%%</span><input type="password" name="oldpsw" class="oldpsw" /></td>
    </tr>
    <tr>
      <td><span class="tdTitle">%%ID_NEW_PASSWORD%%</span><input type="password" name="newpsw1" class="newpsw1" /></td>
    </tr>
    <tr>
      <td><span class="tdTitle">%%ID_REPEAT_PASSWORD%%</span><input type="password" name="newpsw2" class="newpsw2" /></td>
    </tr>
  </table>
</div>

<div id="modify_images">
  <div class="recommend_images">
   <h3>%%ID_IMAGE_RECOMMENDED%%</h3>
   <ul>
    <li><img src="/images/photo/boy.jpg" width="45" height="45"/></li>
    <li><img src="/images/photo/girl.jpg" width="45" height="45" /></li>
    <li><img src="/images/photo/2.jpg" width="45" height="45" /></li>
    <li><img src="/images/photo/3.jpg" width="45" height="45" /></li>   
    <li><img src="/images/photo/4.jpg" width="45" height="45" /></li>  
    <li><img src="/images/photo/7.jpg" width="45" height="45" /></li>
    <li><img src="/images/photo/5.gif" width="45" height="45" /></li>   
    <li><img src="/images/photo/6.gif" width="45" height="45" /></li>        
    <li><img src="/images/photo/defalt_photo.jpg" width="45" height="45" /></li>        
   </ul>   
  </div>  
  <div class="preview">
    <h3>%%ID_IMAGE_PREVIEW%%</h3>
    <div class="preview_img"><img src="/images/photo/defalt_photo.jpg" style="width:58px;height:58px;"/> </div>    
          <form  enctype="multipart/form-data" action ="/lw_pic_upload.yaws" method="post">
            <div class="file_share_form">
              <div class="file-wrapper">
                <input type="file" name="upld" id="upld2" />
                <span class="upload_personalimg">%%ID_FILE_UPLOADFILE%%</span></div>
              <input type="submit" value="submit_files" class="submit_imgaes"  style="display:none" />
            </div>
          </form> 
       <div style="clear:both; padding-top:10px; color:#cd6500;">%%ID_IMAGE_PX%%</div>
  </div>
       <div class="upload_imag_loading"><img src = "/images/loading.gif" style="border:none;"/>%%ID_IMAGE_UPLOAD%%</div>
</div>

<!--<div id="upload_filecontent" style="display:none;">
  <div class="upload_wrap clearfix">
    <div class="sharefileupload_btn"><span class="uploadfile_btn">%%ID_FILE_CHOOSEFILE%%</span></div> 
    <div class="uplod_form">
     <form enctype="multipart/form-data" action="/lw_upload.yaws" method="post">
         <div class="file_share_form3">
           <div class="file-wrapper">
            <input type="file" class="upload_pollsitem" onchange="sharefiles_handle(this)"  name="upld"/>
            <input type="submit" value="submit_files" class="submit_sharefile" style="display:none">
          </div>
         </div>
      </form> 
    </div>
    <div class="uploadTips">%%ID_ATTACHMENT_UPLOAD%%</div>      
    <div class="upload_main"></div>
  </div>
</div>-->

<div id="chat_box">
  <div class="chat_box" min-height="370" min-width="198">
    <div class="chat_box_tit"  style="cursor: auto;">
      <a class="chat_ico_mini"  href="javascript:void(0);" title="%%ID_WEBIM_MINBTN%%">%%ID_WEBIM_MINBTN%%</a>
      <div class="chat_box_name"></div>
      <div class="chat_item_pic" dragable="dragable"> <img dragable="dragable" class="chat_user_pic" alt="" src="/images/photo/defalt_photo.gif">
      </div>
    </div>
    <div class="chat_box_main"> 
      <div class="chat_box_session">
        <ul class="chat_win_list">
        </ul>
      </div>
      <div class="chat_win">
        <div class="chat_item_ts2">
          <span class="chat_ico_prompt"></span>%%ID_WEBIM_DRAG%%
          <a class="chat_ico_x" role="button" href="javascript:void(0);" title="%%ID_WEBIM_CLOSE%%"></a>
        </div> 
        <div id="chat_win">
        </div>
      </div>
    </div>
  </div>
</div>
<textarea id="pasteTextarea" style="height: 0px;border: none;autorize: none;"></textarea>
<div id="chatMiniRoot" class="chatMiniRoot"><span class="chatMiniRooticon"></span><span class="chatMiniRootName">%%ID_WEBIM_MINTIP%%</span></div>
<!--
<div id="kefubox"> <a href="javascript:void(0);" class="kefu_tel"></a><a target="-blank" href="mailto:chen.jiapei@zte.com.cn?subject=关于LWORK协同通讯平台建议和咨询&cc=pan.liubing@zte.com.cn" class="kefu_mail"></a>
</div>  -->
<script type="text/javascript" src="script/md5.js"></script> 
<script type="text/javascript" src="script/jscroll.js?t=75"></script> 


<script type="text/javascript" src="script/video_plugin.js"></script>

<script type="text/javascript" src="script/lw_lang.js?t=75"></script> 

<script type="text/javascript" src="script/json2.js"></script> 
<script type="text/javascript" src="script/sprintf.js"></script> 
<script type="text/javascript" src="script/jquery.form.js"></script> 
<script type="text/javascript" src="script/gb2312.js"></script> 
<script type="text/javascript" src="script/jquery.caretposition.js"></script> 
<script src="script/artDialog/jquery.artDialog.js?t=20120528" type="text/javascript"></script> 
<script type="text/javascript" charset="utf-8" src="script/api.js?t=5"></script> 
<script type="text/javascript" src="script/jquery_plugins.js?t=75"></script> 
<script type="text/javascript" src="script/webrtc.js?t=75"></script> 
<script type="text/javascript" src="script/websck.js?t=75"></script> 
<!-- <script type="text/javascript" src="script/forum.js?t=75"></script>  -->

<script type="text/javascript" src="script/hybrid.js?t=75"></script> 
<script type="text/javascript" src="script/restchannel.js?t=75"></script>
<!--  <script type="text/javascript" src="script/salary.js?t=75"></script>  -->
<script type="text/javascript" src="script/webvideo.js?t=75"></script>
<script type="text/javascript" src="script/voip.js?t=75"></script> 
<script type="text/javascript" src="script/imClient.js?t=75"></script> 
<script type="text/javascript" src="script/common.js?t=75"></script> 
<script type="text/javascript" src="script/tagsInput.js?t=75"></script> 
<script type="text/javascript" src="script/all_share.js?t=75"></script> 
<script type="text/javascript" src="script/yq_init.js"></script>
</body>
</html>